@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Poppins:wght@600;700;800&family=Roboto:wght@400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0c0d0f;
  color: #ffffff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1056px;
  margin: 0 auto;
  padding-top: 36px;
  .logo {
    font-weight: 800;
    font-size: 36px;
  }

  nav {
    display: flex;
    gap: 24px;
    a {
      font-weight: 600;
      font-size: 24px;
      color: #ffffff;
      text-decoration: none;
      transition: opacity 0.3s;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
  gap: 85px;
  img {
    width: 480px;
    height: 578px;
    border-radius: 289px;
    object-fit: cover;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h1 {
      font-size: 72px;
      font-weight: 400;
      line-height: 1.21;
    }
    p {
      font-size: 72px;
      font-weight: 400;

      span {
        font-size: 36px;
      }
    }
  }
}

.projects {
  max-width: 903px;
  margin: 0 auto;
  margin-top: 72px;
  h2 {
    font-size: 72px;
    margin-bottom: 64px;
  }
}

.projects-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 76px;
}

.project-card {
  display: flex;
  justify-content: center;
  gap: 32px;
  width: 100%;
  img {
    width: 450px;
    height: 280px;
    background-color: #7e7777;
    border-radius: 4px;
    overflow: hidden;
  }
  .project-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    h3 {
      font-size: 32px;
      font-weight: 400;
    }
    .project-links {
      display: flex;
      gap: 16px;

      a {
        font-weight: 300;
        color: #ffffff;
        text-decoration: none;
        transition: opacity 0.3s;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}

/* Contact Section */
.contact {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px;
  text-align: center;
  h2 {
    font-size: 72px;
    margin-bottom: 91px;
  }

  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;

    .contact-row {
      display: flex;
      gap: 48px;
      align-items: center;
      justify-content: center;
      &:last-child {
        gap: 88px;
      }

      a {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
        color: white;
        span {
          font-weight: 700;
          font-size: 36px;
        }
      }
    }
  }
}
